.history-heading{
    color: #666666;
}
.table-container {
    padding: 16px;
    overflow-x: auto;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .history-table th, .history-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .history-table th {
    background-color: #F1F1F1;
    color: #666666;
  }

  .history-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .short-content {
    width: 50%;
    text-align: justify;
  }
  
  .view-pdf {
    background-color: #17B169   ;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-pdf:hover {
    background-color: #02723e;
    box-shadow: 0 0 10px #028a3d;
  }
  .delete{
    width: 24%;
    margin-left: 10px;
    background-color: #cc0000;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .delete:hover{
    background-color: #990000;
    box-shadow: 0 0 10px #cc0000;
  }
  .centered {
    text-align: center;
  }
.history-outer{ 
    animation: fadeIn 1.9s;
  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.short-content-mobile {
  display: none;
}

.short-content-desktop {
  display: block;
}

.view-more {
  padding: 5px 3px; 
  color: var(--primary-color);
  background-color: transparent;
  border-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: 0.3s ease-in;
}

.view-more:hover {
  background-color: var(--primary-color);
  color: white;
}
@media (max-width:768px)
{
  .view-pdf{
    padding: 4px 9px;
  }
  a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .delete 
  {
    margin-left: 0px;
    width: 100%;
    margin-top: 15px;
  }
  .short-content-mobile {
    display: block;
  }

  .short-content-desktop {
    display: none;
  }
}

