:root {
    --primary-color: #17B169;
}
body{
    margin: 0px;
}
.navbar {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color 0.8s ease, color 0.6s ease; /* Slower transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar.sticky-header {
    background-color: var(--primary-color);
}

.navbar h2 {
    font-size: 24px;
    margin: 0;
    animation: fadeIn 1.3s ease-in-out infinite alternate;

}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.8s ease, color 0.6s ease;
}
.navbar-nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    transition: color 0.8s ease, background-color 0.8s ease; 
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
    background-color: white;
    border-radius: 5px;
    color: var(--primary-color);
}

.navbar-nav li span {
    margin-left: 8px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.8s ease; 
}

.navbar-nav li.active span {
    opacity: 1;
}

.navbar-nav li a svg {
    font-size: 20px;
    color: white;
    transition: color 0.8s ease; 
}

.navbar-nav li a:hover svg,
.navbar-nav li.active a svg {
    color: var(--primary-color);
}
.logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 3px ;

}

.logout-btn:hover::after{
    content: "Log Out";
    cursor: pointer;
    font-size: 15px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row; 
        align-items: center; 
        padding: 10px 20px; 
        flex-wrap: wrap;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly; 
    }

    .navbar-nav li {
        margin: 0 17px;
    }

    .navbar h2 {
        margin-top: 10px;
        text-align: center;
        margin-left: 0;
        font-size: 25px;
        flex-grow: 1; 
        white-space: nowrap;
        margin-bottom: 15px;
    }

    .logout-btn {
        margin-left: auto; 
        display: flex;
        align-items: center;
        white-space: nowrap; 
    }
}