:root {
    --primary-color: #17B169;  /* pacha*/
    --secondary-color: #02367b; /* Red */
    --background-color: #FFFAFA; /* Light Gray */
    --text-color: #333; /* dark Gray */
  }
body{
      padding: 0;
      margin: 5px;
      height: 100vh;    
  }