*{
  margin: 0;
  padding: 0;
}
.statistic {
    text-align: center;
    padding: 8px;
  }
  .stat-dec {
    font-size: 18px;
    margin-bottom: 15px;
    color: #444;
  }
  .stat-input{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .stat-head {
    font-size: 20px;
    margin-bottom: 10px;
    color: #666666;
    margin-bottom: 20px;
  }
  .stat-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .stat-main {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
  }
  .stat-dis h3 {
    font-size: 15px;
    color: #333;
    font-weight: 500;

  }
  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stat-main h3 {
    font-size: 16px;
    color: #444;
    margin-top: 0px;
  }
  .statistic{
    animation: fadeIn 1.9s;
  }
  @keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

  @media (max-width: 600px) {
    .stat-main {
      width: 100%;
      padding: 15px;
    }
    .stat-dis h3 {
      font-size: 14px;
    }
    .chart {
      width: 100%;
      overflow-x: auto; 
    }
    .stat-input{
      flex-direction: column;
      align-items: center;
    }
  }
  